body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #dba937, #85a5d9);
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.container {
    text-align: center;
    background: rgb(159, 254, 251);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

#display {
    font-size: 3rem;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: rgb(20, 15, 15);
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #b9299a;
}

button:disabled {
    background-color: #bdc3c7;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #333;
}
